body {
    background-color: black;
}

#username {
    background-color: white;
    width: 200px;
    margin: auto;
    padding: 3px;
    border-radius: 5px;
}

.cls {
    margin: auto;
    width: 100px;
    background-color: green;
    padding: 20px;
    border-radius: 5px;
}

.txt {
    color: rgb(177, 116, 247);
}